.header{
    font-size: 20px;
    margin-top: 13px;
    margin-left: 20px;
    text-align: justify;

}
.name{
    font-size: medium;
}
.bar{
    margin-left: 10px;
    margin-right: 10px;
}

.body{
    margin-top: 25px;



}