
<div class="login-content">
    <div class="login-top">
      Reset password link
    </div>
    <div class="">
      <form #loginForm="ngForm" (ngSubmit)="resetPsd(loginForm)">
  
        <div class="login-top-errormessage" *ngIf="authError">
          <div class=" alert alert-danger">{{ authError?.message }}</div>
        </div>
  
        <div class="login-center clearfix"> 
          <!-- <div class="login-center-img"><img src="img/name.png"/></div> -->
          <div class="login-center-input">
            <!-- <label for="email">Email </label> -->
            <input ngModel #email="ngModel" name="email" type="email" class="form-control">
          </div>
        </div>
  
  
        <div class="">
          <div >
            <a class="Click" href="/login">Click here to login</a>
          </div>
  
          <div class="">
            <button class="login-button" type="submit">Login</button>
          </div>
        </div>
  
      </form>
    </div>
  </div>